@media ( min-width : 1200px) .clims_thumbnails {
	margin-left
	:
	 
	0;
	margin-left
	:
	 
	-30
	px
	;
	

}

.clims_thumbnails {
	margin-left: -20px;
	list-style: none;
	*zoom: 1;
}

.clims_thumbnail {
	background-color: white;
	z-index: 2;
	position: relative;
	margin-bottom: 40px !important;
}

.clims_thumbnails>li {
	margin-left: 15px;
	float: left;
}

.clims_thumbnail {
	display: block;
	padding: 4px;
	line-height: 1;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.clims_thumbnail img, .clims_thumbnail>a {
	z-index: 2;
	height: 100px;
	width: 100px;
	position: relative;
	display: block;
}

img.grayscale {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	/*filter: url(desaturate.svg#grayscale);
filter: gray;
filter: grayscale(100%); */
}

.clims_thumbnail .clims-gallery-controls {
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	height: 22px;
	min-height: 22px;
	width: 80px;
	padding: 9px;
}

.clims_thumbnail .clims-gallery-controls p {
	display: block;
	margin: auto;
	width: 100%;
}

@media ( min-width : 1200px) .clims_thumbnails {
	margin-left
	:
	 
	0;
}

@media ( min-width : 1200px) .clims_thumbnails {
	margin-left
	:
	 
	-30
	px
	;
	

}

.clims_thumbnails {
	margin-left: -20px;
	list-style: none;
	*zoom: 1;
}